@import '../../stylesheets/variables';

.workbench-page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3.5rem auto 1fr;
    grid-template-areas:
        "tabs tabs"
        "project details"
        "issues details";

    height: 100vh;
    width: 100vw;
    background-color: $backgroundColor;
}

.tab-bar{
    grid-area: tabs;
    background-color: $mainAccentColor;
}

.tool-bar{
    grid-area: project;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: $sectionPadding;
}

.issueListSection{
    grid-area: issues;
}

.detail-section{
    grid-area: details;
    padding: $sectionPadding;

    background-color: $forwardSectionColor;
}