@import '../../stylesheets/variables';

.workbench-page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3.5rem 5rem 1fr;
    grid-template-areas:
        "tabs tabs"
        "project details"
        "issues details";

    height: 100vh;
    width: 100vw;
    background-color: $backgroundColor;
}

.tab-bar{
    grid-area: tabs;
    background-color: $mainAccentColor;
}

.tool-bar{
    grid-area: project;
}

.issueListSection{
    grid-area: issues;
}

.detail-section{
    grid-area: details;
    padding: $sectionPadding;

    background-color: $forwardSectionColor;
}