@import '../../stylesheets/variables';

.issue-bar {
    margin: $componentMargin;
    padding: $componentMargin 3rem;
    border-radius: $mainBorderRadius;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .name-col {
            flex-basis: 40%;
        }
         .category-col {
            flex-basis: 20%;
        }
         .due-date-col {
            flex-basis: 40%;
        }
    }
}

.active-issue{
    color: $backgroundColor;
    background-color: $mainAccentColor;
}