@import '../../stylesheets/variables';

.issue-bar {
    display: flex;
    flex-direction: row;

    margin: $componentMargin;
    padding: $componentMargin 3rem;
    border-radius: $mainBorderRadius;

    .icon-button{
        margin: 0;
    }

    .name-col {
        flex-basis: 50%;
    }
    .category-col {
        flex-basis: 20%;
    }
    .due-date-col {
        flex-basis: 20%;
    }
    .status-col{
        flex-basis: 10%;
    }
}

.active-issue{
    color: $backgroundColor;
    background-color: $mainAccentColor;
}