@import '../../stylesheets/variables';

.issue-bar {
    display: flex;
    flex-direction: row;

    margin: $componentMargin;
    padding: $componentMargin 3rem;
    border-radius: $mainBorderRadius;

    .icon-button{
        display: flex;
        align-items: baseline;
        margin: 0;

        img{
            padding: 0 10px;
        }
    }

    .name-col {
        flex-basis: 50%;
    }
    .category-col {
        flex-basis: 20%;
    }
    .due-date-col {
        flex-basis: 20%;
    }
    .status-col{
        flex-basis: 10%;
    }
}

.header-bar{
    border-bottom: 2px solid $mainAccentColor;
    border-radius: 0;
}

.active-issue{
    color: $backgroundColor;
    background-color: $mainAccentColor;
}

@import './media-queries';