// Phone wide to tablet size
@media (max-width: $breakpoint-tablet) {
    .detail-section{
        .close-detail{
            display: inline-block;
            position: absolute;
            right: 0;
        }
    }
}