@import '../../stylesheets/variables';

.detail-section{

    section{
        padding: $sectionPadding;

        h3{
            padding: $componentMargin 0;
        }
    }

    ul{
        li{
            margin-bottom: $componentMargin;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    form{
        label{
            margin: 0 0 $componentMargin 0;
        }
    }
}