.icon-button{
    display: flex;
    align-items: baseline;

    padding: 0;
    background: none;
    border: none;

    // Placeholder settings
    color: black;
    font-weight: normal;

    img{
        padding: 0 10px;
    }
}