@import '../../stylesheets/variables';

.navigation-bar{
    button{
        margin: 0 $componentMargin;
        padding: 0;
        background-color: none;
    }

    .tab-bar{
        display: flex;
        flex-direction: row;

        .tab{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            width: 18rem;

            p{
                text-align: center;
                width: 100%;
            }

            button{
                width: 1rem;
                height: 1rem;
            }
        }

        .tab-active{
            background-color: $backgroundColor;

            button{
                background-color: $mainAccentColor;
            }
        }

        .tab-inactive{
            color: $backgroundColor;

            button{
                background-color: $backgroundColor;
            }
        }
    }
}
