@import './variables';

// Tablet to laptop size
@media (max-width: $breakpoint-laptop){
    h4{
        font-size: 1rem;
    }
}

// Phone wide to tablet size
@media (max-width: $breakpoint-tablet) {
    .hide-on-mobile{
        visibility: hidden;
    }
    
    .show-on-mobile{
        visibility: visible;
    }
}