// Colors
$backgroundColor: #F4FAFB;
$mainAccentColor: #1E7A8E;
$darkAccentColor: #404f52;
$forwardSectionColor: rgba(94,214,240,.13);

// Spacing
$sectionMargin: 5rem;
$sectionPadding: 3rem;
$sectionGap: 3rem;
$componentMargin: 1.2rem;
$inputLabelGap: 0.5rem;

// Sizing
$componentFontSize: 1.2rem;
$componentPaddingSize: .8rem;

// Borders
$mainAccentBorder: 2px solid $mainAccentColor;
$mainBorderRadius: 10px;

// Fonts
$mainSansSerif: 'Noto Sans JP', sans-serif;
