// Colors
$backgroundColor: #F4FAFB;
$mainAccentColor: #1E7A8E;
$forwardSectionColor: rgba(94,214,240,.13);

// Spacing
$sectionMargin: 5rem;
$sectionPadding: 3rem;
$sectionGap: 2rem;
$componentMargin: 1rem;

// Borders
$mainAccentBorder: 2px solid $mainAccentColor;
$mainBorderRadius: 10px;
