@import './_variables.scss';

body{
    background-color: $backgroundColor;
}

input{
    padding: 1rem;
    border: $mainAccentBorder;
    border-radius: $mainBorderRadius;
}

button{
    padding: 1rem;
    border: $mainAccentBorder;
    border-radius: $mainBorderRadius;

    color: white;
    background-color: $mainAccentColor;
}