@import './_variables';

body{
    background-color: $backgroundColor;
}

div, p, label, input, select, button, option, h1, h3, h4{
    font-family: $mainSansSerif;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
}

h3{
    color: $mainAccentColor;
    font-size: 1.5rem;
    font-weight: bold;
}

h4{
    color: $mainAccentColor;
    font-size: 1.2rem;
    font-weight: bold;
}

button{
    margin: $componentMargin;
    padding: $componentPaddingSize;
    border: $mainAccentBorder;
    border-radius: $mainBorderRadius;

    color: white;
    background-color: $mainAccentColor;

    font-size: $componentFontSize;
    font-weight: bold; 
    cursor: pointer;
}

a, .link-button{
    margin: 0 $componentMargin;
    padding: 0;
    border:none;

    background: none;
    color: $mainAccentColor;
    font-size: 1rem;
    font-weight: bold;

    text-decoration: underline;
}