@import './_variables';

body{
    background-color: $backgroundColor;
}

div{
    font-family: $mainSansSerif;
}

h1{
    font-family: $mainSansSerif;
    font-size: 2.5rem;
    font-weight: bold;
}

h4{
    color: $mainAccentColor;
    font-family: $mainSansSerif;
    font-size: 1.2rem;
    font-weight: bold;
}

p{
    font-family: $mainSansSerif;
}

label{
    font-family: $mainSansSerif;
}

input{
    margin-top: $inputLabelGap;
    padding: 1rem;
    border: $mainAccentBorder;
    border-radius: $mainBorderRadius;

    background-color: $backgroundColor;
    font-family: $mainSansSerif;
}

select{
    margin-top: $inputLabelGap;
    padding: 1rem;
    border: $mainAccentBorder;
    border-radius: $mainBorderRadius;

    background-color: $backgroundColor;
    font-family: $mainSansSerif;
}

option{
    background-color: $backgroundColor;
    font-family: $mainSansSerif;
}

button{
    margin: $componentMargin;
    padding: 1rem;
    border: $mainAccentBorder;
    border-radius: $mainBorderRadius;

    color: white;
    background-color: $mainAccentColor;

    font-family: $mainSansSerif;
    font-size: $componentFontSize;
    font-weight: bold; 
}

.link-button{
    border:none;

    background: none;
    color: $mainAccentColor;

    font-weight: bold;
}