@import '../../stylesheets/variables';

// Phone wide to tablet size
@media (max-width: $breakpoint-tablet){
    .title-section{
        text-align: center;
    }

    .login-signup-page{
        overflow-y: auto;

        button{
            min-width: 15rem;
        }
    }

    .input-section{
        form{
            margin-top: $componentMargin;
        }

        .labeled-input{
            min-width: 15rem;
            margin: $componentMargin / 2;
        }
    }
}