// Phone wide to tablet size
@media (max-width: $breakpoint-tablet){
    .login-signup-page{
        overflow-y: auto;

        button{
            min-width: 15rem;
        }
    }

    .input-section{
        .labeled-input{
            min-width: 15rem;
        }
    }
}