@import '../../stylesheets/variables';

body{
    display: flex;
    justify-content: center;
}

.title-section{
    display: flex;
    justify-content: center;
}

.login-signup-page{
    display: flex;
    flex-direction: column;

    padding: $sectionPadding;

    background-color: $forwardSectionColor;
    width: 70rem;
    height: calc(100vh - 6rem);

    button{
        min-width: 20rem;
    }
}

.toggle-section{
    order: 2;

    display:flex;
    justify-content: center;
}

.input-section{
    order: 1;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 4.5rem;
    }

    .labeled-input{
        margin: $componentMargin;
        min-width: 35rem;
    }
}

.message-section{
    order: 3;

    display:flex;
    flex-direction: column;
    align-items: center;
    margin: $componentMargin;

    h5{
        margin: $componentMargin 0;
    }

    ul{
        list-style: inside;
    }
}