@import '../../stylesheets/variables';
body{
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;

    margin: $sectionMargin;
    padding: $sectionPadding;

    background-color: $forwardSectionColor;
    width: 60rem;
}

section{
    margin: $sectionGap;
}

.toggle-section{
    order: 2;
}

.input-section{
    order: 1;
}

.message-section{
    order: 3;
}